.footer {
  padding-top: 67px;
}

.footer__copyright {
  color: #545454;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

@media screen and (max-width: 937px) {
  .footer {
    text-align: center;
  }

  .footer__copyright {
    font-size: 14px;
    font-weight: 400;
  }
}
