.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  grid-column-gap: 17px;
  grid-row-gap: 20px;
  margin-top: 51px;
}

.gallery__card {
  display: block;
  border-radius: 10px;
  overflow: hidden;
}

.gallery__image {
  display: block;
  width: 100%;
}

.gallery__name-like {
  background: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
}

.gallery__name {
  margin: 0;
  font-size: 24px;

  font-weight: 900;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gallery__like-btn {
  width: 24px;
  transition: opacity 0.2s;
  border: none;

  cursor: pointer;
  background: url(../images/like-button.svg) no-repeat center;
  background-size: contain;
}

.gallery__like-btn:hover {
  opacity: 0.5;
}

@media screen and (max-width: 637px) {
  .gallery {
    padding: 29px;
    padding-top: 36px;
    margin: 0;
    padding-bottom: 0;
  }
}
