.header {
  background-color: #000;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
}

@media screen and (max-width: 637px) {
  .header {
    padding-bottom: 32px;
    width: 100vw;
  }

  .header__logo {
    padding-top: 28px;
    padding-left: 27px;

    width: 126px;
    height: 24px;
  }
}
