.profile {
  display: flex;
  align-items: center;
  gap: 30px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 7px;
  max-width: 60%;
}

.profile__name-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.profile__name {
  margin: 0;

  font-size: 42px;
  font-weight: 500;
  line-height: 1.15;
  transition: font-size 0.2s;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-name-button {
  background: transparent;
  border: 1px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity 0.2s;
  padding: 12px;
  width: 24px;

  background-image: url(../images/edit-button.svg);
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.profile__edit-name-button:hover {
  opacity: 0.6;
}

.profile__job {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add-button {
  background: transparent;
  color: #fff;
  padding: 14px 64px;

  border: 2px solid white;
  border-radius: 2px;

  outline: none;
  cursor: pointer;

  margin-left: auto;
  transition: opacity 0.2s;
}

.profile__add-button:hover {
  opacity: 0.6;
}

/* Tablet */
@media screen and (max-width: 810px) {
  .profile {
    gap: 15px;
  }

  .profile__info {
    gap: 4px;
  }

  .profile__name {
    font-size: 32px;
  }

  .profile__add-button {
    padding: 12.5px 15px;
  }
}

/* Mobile */
@media screen and (max-width: 637px) {
  .profile {
    flex-direction: column;
    text-align: center;
    max-width: 282px;
    margin: 0 auto;
    gap: 30px;
  }

  .profile__info {
    gap: 14px;
    padding-bottom: 6px;
    max-width: 100%;
  }

  .profile__name-container {
    justify-content: center;
  }

  .profile__name {
    font-size: 22px;
    line-height: 1.2;
  }

  .profile__edit-name-button {
    width: 18px;
    padding: 10px;
    background-size: 7.5px;
  }

  .profile__job {
    font-size: 14px;
  }

  .profile__add-button {
    flex: 1;
    width: 100%;
  }
}
