.form {
  display: flex;
  flex-direction: column;
}

.form__input {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;

  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
  margin-bottom: 5px;
}

.form__input-error {
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: #f00;
  visibility: hidden;
}

.form__input-error_active {
  visibility: visible;
}

.form__input_type_error {
  border-bottom-color: #f00;
}

.form__input-error:last-of-type {
  margin-bottom: 48px;
}

.form__input:focus {
  outline: none;
}

.form__button {
  width: 100%;
  background-color: #000;
  color: white;
  padding: 15px;
  transition: background-color 0.2s;
}

.form__button:enabled:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.form__submit_inactive {
  opacity: 0.2;
  background-color: white;
  color: #000;
}

@media screen and (max-width: 637px) {
  .form__input-error:last-of-type {
    margin-bottom: 45px;
  }

  .form__button {
    font-size: 14px;
  }
}
