.gallery-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  grid-column-gap: 17px;
  grid-row-gap: 20px;
  margin-top: 51px;
}

.gallery-section__card {
  display: block;
  border-radius: 10px;
  overflow: hidden;
}

.gallery-section__image {
  display: block;
  width: 100%;
}

.gallery-section__name-like {
  background: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
}

.gallery-section__name {
  margin: 0;
  font-size: 24px;

  font-weight: 900;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gallery-section__like {
  width: 24px;
  transition: opacity 0.2s;

  cursor: pointer;
}

.gallery-section__like:hover {
  opacity: 0.5;
}
